* {
    box-sizing: border-box;
}
.static{
    position: static;
    width:100%;
    height: 100px;
}
.relative{
    position: relative;
    width:100%;
    height: 100px;
    margin-top:50px;

}
.relativee{
   position: relative;
   width:100%;
   height:150px; 
   margin-top:30px;
}
.absoulte{
    position: absolute;
    width: 100%;
    height: 400px;
    right: 0;
    top: 0;
}
.fixed{
    position:fixed;
    bottom:0;
    width:100%;
    height:100px;

}